/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://nercacuk.sharepoint.com/sites/basdigitalwmod-communications/creative%20services%20assets/ppt_page_glider01.jpg");
  background-size: 100% 100%;
}
/* TODO: Provide custom CSS rules */
